*,html,body { box-sizing: border-box;}


body {
  margin: 0;
  font-family: "poppins", Geneva, sans-serif;
  font-size: 20px;
  color: rgba(21, 21, 71);
  background-color: rgb(241, 233, 246);
  hyphens: auto;
  word-spacing: 10px;
  letter-spacing: 0.3em;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  margin-top: 0.5vw;
  letter-spacing: 0.3em;
  word-spacing: 0.1em;
  
}


h1 {
  font-family: "poppins", sans-serif;
  font-weight: 800;
  font-style: normal;

  font-size: 20px;
  line-height: 20px;
  color: rgb(77, 240, 134);

  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  padding-bottom: 0px;
  margin-bottom: 8px;

}
h2{
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-style: normal;

  font-size: 50px;
  line-height: 50px;
 
  color: rgb(255, 255, 255);

  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  padding-bottom: 0px;
  margin-top: 1.0vw;
  z-index: 200;
  margin-bottom: 1vw;
 
}

h3{
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 20px;
 
  color: rgb(50,50,50);
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  padding-bottom: 2px;

}

.h3-mit-abstand {
  padding-bottom: 8vw; /* Hier kannst du den gewünschten Abstand einstellen */


}



h4{
  font-family: "poppins", Verdana, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgb(110, 112, 113);
  letter-spacing: 0.1em;

}


h5,h6 {
  font-family: "poppins", Verdana, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 2px;
  color: rgb(110, 112, 113);
  letter-spacing: 0.1em;
  margin-bottom: 2vw;

}

.video-row {
  clear: both; /* sicherstellen, dass die Reihen korrekt untereinander angeordnet sind */
}
.video-container {
  position: relative;
  width: 50%; /* 50% Breite für jedes Video in einer Reihe, um sie nebeneinander anzuzeigen */
  float: left;
}
.h3-text {
  position: absolute;
  bottom: 10px; /* Abstand zum unteren Rand des Containers */
  left: 10px; /* Abstand zum linken Rand des Containers */
  font-family: "poppins", sans-serif;
  font-weight: 700;
  font-style: normal;


  line-height: 50px;
 
  color: rgb(255, 255, 255);

  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  position: absolute;
 
  color: white;
  font-size: 50px;
  margin: 0; /* entfernt Standardmargen des Texts */
  padding: 0; /* entfernt Standardpadding des Texts */
}

a {
  text-decoration: none;

}


.headcontainer {
  align-items: flex-start;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 2vw;
  margin-top: 1vw;
  z-index: 100;
}

@media only screen and (min-width: 600px) {
  .menuleft,
  .menuright {

    text-align: left;
    /* Links ausgerichtet auf mittelgroßen Bildschirmen */
  }
}


img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease-out;
  padding-bottom: 8vw;

}

video {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease-out;
  margin-left: auto;
  margin-right: auto;
  /* padding-bottom: 8vw; */
  
}

.video-mit-abstand {
  padding-bottom: 0; /* Hier kannst du den gewünschten Abstand einstellen */
 

}

.video-mit-abstand2 {
  padding-bottom: 0; /* Hier kannst du den gewünschten Abstand einstellen */
  padding-top: 0vw;
  margin-top: 1.5vw;
 
 

}
.img-mit-abstand
{
  padding-bottom: 0; /* Hier kannst du den gewünschten Abstand einstellen */
  
  

}


.spalte-50 {
  width: 50%;
  margin-bottom:0;
 
}

.spalte-50-mitAbstand {
  width: 100%;
  margin-top: 0vw;
  margin-bottom: 5vw;
 
}

.spalte-50untenabstand {
  width: 50%;
  margin-bottom:5vw;
 
}

.spalte-100 {
  width: 100%;
  /* z-index: -100; */
 
}





.spaltenextra-100 {
  width: 100%;

 margin-right: 1.5vw;
 
 
}



.spaltendrei-100 {
  width: 50%;
 padding-top: 1.5vw;
 margin-right: 1.5vw;
 
 
}

.bilddrei{
height: 50%;

}


.row {
  width: 100vw;
  display: flex;
  justify-content: center;


}

.row-left {
  justify-content: flex-start;

}

.portrait{
margin-top:1.5vw; 

}

a.headertitle{
  
  color: rgb(251, 255, 7);
 

}

a.headertitellink{
 

  
  color: rgb(255, 255, 255);

}

.underline {
  text-decoration: underline;
}

.randabfallendes-bild {
  margin-top: -100px; /* Hier kannst du den Wert anpassen, um das Bild über den oberen Rand hinausragen zu lassen */



}

.row3 {
 
  display: flex;
 


}
.video-mit-abstand3 {
  margin: 1px 0;
}


